/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BCFTOOLS_QUERY' {
        ext.args = {
            def criteria = [
                'INFO/SVTYPE="INS"',
                'ALT!="<INS>"'
            ]

            if (params.vcf_precise) {
                criteria << 'INFO/PRECISE == 1'
            }
            if (params.vcf_svlen) {
                criteria << "INFO/SVLEN > ${params.vcf_svlen}"
            }
            if (params.vcf_support) {
                criteria << "INFO/SUPPORT > ${params.vcf_support}"
            }

            def include_expr = criteria.join(' && ')

            "-i '${include_expr}' -f '>%ID %CHROM:%POS\\n%ALT\\n'"
        }
        ext.suffix = 'fa'
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}
